

#LCorreo, #LPassword {
    width: 300px;
    position: center;
    font: 1em arial, helvetica, sans-serif;
    color: black;
    font-size: 25px;
    border-radius: 3px;
    box-shadow: 0px 4px 24px rgba(0,0,0,0.1);
    font-family: Nunito, sans-serif;
}
#lblPassword, #lblCorreo {
    color: black;
    position: center;
    font-size: 30px;
    border-radius: 1px;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
    font-family: Nunito, sans-serif;
}
#frmLogin {
    margin: 100px;
    padding: 100px;
    position: absolute;
    top: 80px;
    right: 600px;
    width: 500px;
    border-width: 7px;
    font-size: 30px;
    font-family: Nunito, sans-serif;
    background-color:white;
    border-radius: 3px;
    box-shadow: 0px 4px 24px rgba(0,0,0,0.1);

}

