
#CCorreo, #CPassword, #CNombre, #CApellidoPat, #CApellidoMat, #CNickname,#CCPassword {
    width: 300px;
    position: relative;
    right: -35px;
    font: 1em arial, helvetica, sans-serif;
    color: black;
    font-size: 25px;
    border-radius: 3px;
    box-shadow: 0px 4px 24px rgba(0,0,0,0.1);
    font-family: Nunito, sans-serif;
}

#lblPass, #lblCorreo, #lblNick, #lblApp, #lblApm, #lblNombre,#lblCCPass {
    color: black;
    position: relative;
    right: -35px;
    font-size: 30px;
    font-family: Nunito, sans-serif;
}

#frmCrear {
    margin: 55px;
    padding: 55px;
    position: absolute;
    top: 10px;
    right: 600px;
    width: 500px;
    border-width: 7px;
    font-size: 30px;
    font-family: Nunito, sans-serif;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 4px 24px rgba(0,0,0,0.1);
}