@model Glosarios.Models.Usuario

@{
    ViewData["Title"] = "Index";
}
<link type="text/css" rel="stylesheet" href="https://localhost:44381/css/Login.css" />
<h2 style="font-size:30px; font-family: Nunito, sans-serif; position:relative;right:-830px; ">Inicio de sesion</h2>
        <form id="frmLogin">
            <div class="form-group">
                <label for="LCorreo" id="lblCorreo" class="control-label">Correo</label>
                <input name="LCorreo" id="LCorreo" class="form-control" size="300" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="LPassword" id="lblPassword" class="control-label">Password</label>
                <input name="LPassword" type="password" id="LPassword" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
                <hr />
                <div class="form-group">
                    <button type="button" value="Entrar" class="btn btn-default" onclick="Loguear('Loguear')"
                            style="font-size:30px; font-family: Nunito, sans-serif;position:relative;right:-45px;">Iniciar sesion
                    </button>
                </div>
            </div>
        </form>

        
 
