
@{
    ViewData["Title"] = "Resumenes";
}

<h2>Resumenes</h2>
<div class="department_area section_gap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <form id="form_58909" class="appnitro" method="post" action="">
                    <div class="form_description">

                        <p>Ingrese el concepto a agregar</p>
                    </div>
                    <label class="description" for="element_1">Nombre del glosario</label>
                    <div>
                        <input id="RNombre" name="RNombre" class="element text large" type="text" size="90" maxlength="989546" value="" />
                    </div>

                    <label class="description" for="element_2">Escriba el concepto a agregar</label>
                    <div>
                        <input id="element_2" name="element_2" class="element text large" type="text" size="90" maxlength="989546" value="" />
                    </div>
                    <label class="description" for="element_3">Entrada</label>
                    <div>
                        <textarea id="texto" name="texto" cols="90"></textarea>
                    </div>
                    <label class="description" for="element_3">Salida </label>
                    <div>
                        <textarea id="textoSalida" name="textoSalida" cols="90"></textarea>
                    </div>

                    <p>


                        <input type="hidden" name="form_id" value="58909" />
                        <button type="button" class="btn btn-primary" onclick="Glosario('Rewrite')">Procesar</button>

                        <input type="hidden" name="form_id" value="58909" />
                        <button type="button" class="btn btn-primary" onclick="PDF('PDF')">Generar PDF</button>
                    </p>

</form>
            </div>
        </div>

    </div>
</div>

